<div class="bread-nav mb-20">
    <h2><%=item_name%></h2><span class="tit"><%=item_description%></span>
    <a href="javascript:;" class="btn-search-hide">查询<i class="i-down"></i></a>
</div>

<div class="retrieval-con layout-time clearfix mb-20" style="display: none;"> 
    <ul class="clearfix">
        <li>
            <label>省份：</label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="corpId">
                    <option value="0">全部</option>
                    <% for(var i = 0; i<provinceList.length; i++) { %>
                    <option value="<%=provinceList[i]['provinceId']%>"><%=provinceList[i]['provinceName']%></option>
                    <% } %>
                </select>
            </div>
        </li> 
        <li>
            <label>拨测邮箱账号</label>
            <div class="module-fill w150">
                <input type="text" class="module-input" name="userEmail"/>
            </div>
        </li>    
        <li>
            <label>拨测结果：</label>
            <div class="module-fill">
                <label>
                    <input type="checkbox" name="statusArray" value="0" checked />运行中
                </label>
                <label>
                    <input type="checkbox" name="statusArray" value="1" checked />暂停
                </label>       
            </div>
        </li>
        <li>
            <a href="javascript:;" class="btn btn-orange" role="query">查询</a>
        </li>
    </ul>
</div>

<div class="clearfix mt-20 mb-20 toolbar">
    <div class="fl">
        <ul class="mod-tab clearfix">
            <li class="current"><a href="javascript:;" role="export" class="btn btn-green">导出</a></li>
        </ul>
        <a href="javascript:;" role="addnew" class="btn btn-border">新增</a>
    </div>
    <div class="fr">
    </div>
</div>

<div class="content_main">
    <div class="graph-tab clearfix">
        <h2 class="quality-tit"><%=item_name%></h2>
    </div>
    <div class="grid-content"></div>
</div>