<div class="bread-nav mb-20">
    <h2><%=item_name%></h2><span class="tit"><%=item_description%></span>
    <a href="javascript:;" class="btn-search-hide">查询<i class="i-down"></i></a>
</div>

<div class="retrieval-con layout-time clearfix mb-20" style="display: none;"> 
    <ul class="clearfix">
        <li>
            <label>省份：</label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="corpId">
                    <option value="0">全部</option>
                    <% for(var i = 0; i<provinceList.length; i++) { %>
                    <option value="<%=provinceList[i]['provinceId']%>"><%=provinceList[i]['provinceName']%></option>
                    <% } %>
                </select>
            </div>
        </li>
        <li>
            <label>监控点名称：</label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="itemTypeId">
                    <option value="0">全部</option>
                    <% for(var i = 0; i<monitoringPoints.length; i++) { %>
                    <option value="<%=monitoringPoints[i]['item_type_id']%>"><%=monitoringPoints[i]['item_type_name']%></option>
                    <% } %>
                </select>
            </div>
        </li>  
        <li>
            <label>拨测邮箱账号</label>
            <div class="module-fill w150">
                <input type="text" class="module-input" name="userEmail"/>
            </div>
        </li>    
    </ul>

    <ul class="clearfix">
        <li>
            <label>起始时间：</label>
            <div class="module-time">
                <input type="text" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" class="module-input" name="startTime"/><span>到</span>
                <input type="text" onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" class="module-input" name="endTime"/>
            </div>
        </li>
        <li>
            <label>拨测结果：</label>
            <div class="module-fill">
                <label>
                    <input type="checkbox" name="statusArray" value="0" checked />成功
                </label>
                <label>
                    <input type="checkbox" name="statusArray" value="1" checked />失败
                </label>    
                <label>
                    <input type="checkbox" name="statusArray" value="2" checked />一般超时
                </label>    
                <label>
                    <input type="checkbox" name="statusArray" value="3" checked />较重超时
                </label>    
                <label>
                    <input type="checkbox" name="statusArray" value="4" checked />严重超时
                </label>        
            </div>
        </li>
        <li>
            <a href="javascript:;" class="btn btn-orange" role="query">查询</a>
        </li>
    </ul>
</div>

<div class="content_main">
    <div class="graph-tab clearfix">
        <h2 class="quality-tit"><%=item_name%></h2>
    </div>
    <div class="grid-content"></div>
</div>