<div class="bread-nav mb-20">
    <h2>告警配置</h2><span class="tit">*对各类告警信息进行配置管理。</span>
</div>
<div class="mod-btn">
  
</div>

<div class="content_main">
  <div class="alarm-guide">
         <ul id="config-type-list" class="clearfix">
                     
         </ul>
      </div>
</div>
<script type="text/template" id="add-config-list">
  <li>
      <a href="javascript:void(-1);" class="add-config-type" data-type="{id}">
        <h3 class="alarm-guide-tit">{typeName}</h3>
        <span class="alarm-guide-con">{typeDesc}</span>
      </a>
  </li> 
</script>