<div class="bread-nav mb-20">
    <h2>新建告警配置</h2><span class="tit">新建告警配置信息，告警通知根据告警配置生成</span>
</div>
<div class="content_main">
  <div class="quality-tit">新建用户服务监控点</div>

            <div class="alarm-guide-new">
                <h3>基本设置</h3>
                <ul class="clearfix">
                    <li>
                        <label for="" class="mod-label">监控点名称：<span>*</span></label>
                        <div class="module-file">
                           <select name="monitor_id" style="display:none">
                            <option value="">全部</option>    
                           </select>
                        </div>
                    </li>
                    <li>
                        <label for="" class="mod-label">告警条件：<span>*</span></label>
                        <div class="mod-form mod-condition">
                            <p>普通时段：00：00~24:00</p>
                            <dl>
                                <dt>当页面5分钟平均</dt>
                                <dd id="config-rule">
                                    
                                </dd>
                            </dl>

                        </div>
                    </li>
                    
                </ul>
                <h3>告警设置</h3>
                <ul class="clearfix">
                    <li>
                        <label for="" class="mod-label">告警方式：<span>*</span></label>
                        <div class="mod-form mod-form-select">
                            <dl class="clearfix">
                                <dt><label for=""><input name="smsF" type="checkbox" checked="checked">短信告警</label></dt>
                                <dd><label for=""><input type="checkbox"checked="checked" name="smsF_1" >严重</label></dd>
                                <dd><label for=""><input name="smsF_2" type="checkbox">较重</label></dd>
                                <dd><label for=""><input name="smsF_3" type="checkbox">一般</label></dd>
                            </dl>
                            <dl class="clearfix">
                                <dt><label for=""><input name="mailF" type="checkbox"checked="checked">邮件告警</label></dt>
                                <dd><label for=""><input name="mailF_1" type="checkbox" checked="checked">严重</label></dd>
                                <dd><label for=""><input name="mailF_2" type="checkbox" checked="checked">较重</label></dd>
                                <dd><label for=""><input name="mailF_3" type="checkbox" checked="checked">一般</label></dd>
                            </dl>
                        </div>
                    </li>
                    <li>
                        <label for="" class="mod-label">告警通知人：</label>
                        <div class="mod-form">
                            <div class="module-textarea" role="selected-notifier"></div>
                            <div class="btn-choose">
                                <a href="javascript:void(-1);" role="select-notifier">选择通知人</a>
                                <a href="javascript:void(-1);" role="common-notifier">使用常用通知人</a>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="" class="mod-label">短信告警时间：</label>
                        <div class="mod-form">
                           <div class="mod-form-time">
                               <span>每周一到周五：</span>
                               <div class="module-fill">
                                    <select style="display:none" widthNo="150" name="time-1"></select>
                               </div>
                                <span>到</span>
                                <div class="module-fill">
                                    <select style="display:none" widthNo="150" name="time-2"></select>
                                </div>
                            </div>
                            <div class="mod-form-time">
                                <span>每周六到周日：</span>
                                <div class="module-fill">
                                  <select style="display:none" widthNo="150" name="time-3"></select>
                                </div>
                                <span>到</span>
                                <div class="module-fill">
                                  <select style="display:none" widthNo="150" name="time-4"></select>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <label for="" class="mod-label">备注：</label>
                        <div class="mod-form">
                            <textarea name="config-remark" class="module-textarea"></textarea>
                        </div>
                    </li>
                </ul>
                <div class="mod-btn">
                    <a href="javascript:void(-1);" class="btn btn-blue" role="config-save">保存</a><a href="javascript:void(-1);" class="btn btn-gray" role="back">返回</a>
                </div>
            </div>
        </div>  
</div>
<script type="text/template" id="sms-time-option">
    <option value="00:00">00:00</option>
    <option value="01:00">01:00</option>
    <option value="02:00">02:00</option>
    <option value="03:00">03:00</option>
    <option value="04:00">04:00</option>
    <option value="05:00">05:00</option>
    <option value="06:00">06:00</option>
    <option value="07:00">07:00</option>
    <option value="08:00">08:00</option>
    <option value="09:00">09:00</option>
    <option value="10:00">10:00</option>
    <option value="11:00">11:00</option>
    <option value="12:00">12:00</option>
    <option value="13:00">13:00</option>
    <option value="14:00">14:00</option>
    <option value="15:00">15:00</option>
    <option value="16:00">16:00</option>
    <option value="17:00">17:00</option>
    <option value="18:00">18:00</option>
    <option value="19:00">19:00</option>
    <option value="20:00">20:00</option>
    <option value="21:00">21:00</option>
    <option value="22:00">22:00</option>
    <option value="23:00">23:00</option>
    <option value="24:00">24:00</option>
</script>

<script type="text/template" id="monitor-template">
  <option value="{id}">{name}</option>
</script>

<script type="text/template" id="notifier-tpl">
<div class="ui-dialog-body">
    <div class="select-notier">
        <h3>请选择告警通知人<span>每次可选择通知多个人，并支持按告警级别设置通知人</span></h3>
        <dl class="add-alerter">
            <dt>严重：</dt>
            <dd class="current">
                <a href="javascript:;" data-level="serious_1" class="icon-add">+</a>
                <span class="serious_1">
                    
                </span>
            </dd>
        </dl>
        <dl class="add-alerter">
            <dt>较重：</dt>
            <dd>
                <a href="javascript:;" data-level="serious_2" class="icon-add">+</a>
                <span class="serious_2">
                    
                </span>
            </dd>
        </dl>
        <dl class="add-alerter">
            <dt>一般：</dt>
            <dd>
                <a href="javascript:;" data-level="serious_3" class="icon-add">+</a>
                <span class="serious_3">
                    
                </span>
            </dd>
        </dl>


        <div class="form-notier clearfix">
            <ul>
                <li>
                    <label>姓名： </label>
                    <div class="module-fill w150">
                        <input type="text" class="module-input">
                    </div>
                </li>
                <li>
                    <label>邮箱地址：</label>
                    <div class="module-fill w150">
                        <input type="text" class="module-input">
                    </div>
                </li>
                <li>
                    <a href="javascript:;" role="notifier-query" class="btn btn-orange">查询</a>
                </li>
            </ul>
        </div>

        <div class="notofier-table"></div>
    </div>
</div>
</script>