<div class="bread-nav mb-20">
    <h2>告警历史</h2><span class="tit">可按时间、级别、状态等维度查询历史告警</span>
    <a href="javascript:;" class="btn-search-hide">查询<i class="i-down"></i></a>
</div>
<div class="retrieval-con layout-time clearfix mb-20" style="display: none;">
    <ul class="clearfix">
        <li>
            <label>监控方式： </label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="mitWay">
                    <option value="">全部</option>
                    <option value="1">日志</option>
                    <option value="2">拨测</option>
                    <option value="3">归档</option>
                </select>
            </div>
        </li>
        <li>
            <label>监控类型：</label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="mitType">
                    <option value="0">全部</option>
                </select>
            </div>
        </li>
        <li>
            <label>监控点名称：</label>
            <div class="module-fill w150" role="mitName">
                <select style="display:none" widthNo="150" name="mitName">
                    <option value="0">全部</option>
                </select>
            </div>
        </li>
        <li>
            <label>告警省份：</label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="corpId">
                    <option value="0">全部</option>
                </select>
            </div>
        </li>
    </ul>
    <ul class="clearfix">
        <li>
            <label>处理状态：</label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="status">
                    <option value="">全部</option>
                    <option value="1">已恢复</option>
                    <option value="2">忽略</option>
                </select>
            </div>
        </li>
        <li>
            <label>告警等级：</label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="alarmLevel">
                    <option value="">全部</option>
                    <option value="4">严重</option>
                    <option value="3">较重</option>
                    <option value="2">一般</option>
                </select>
            </div>
        </li>
        <li>
            <label>起始时间：</label>
            <div class="module-time">
                <input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" type="text" class="module-input" name="startTime"/>
                <span>到</span>
                <input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" type="text" class="module-input" name="endTime"/>
            </div>
            <a href="javascript:;" class="btn btn-orange ml-10" role="query">查询</a>
        </li>
    </ul>
</div>

<div class="mod-btn">
    
</div>

<div class="content_main"></div>
<script type="text/template" id="list-modify">
    <div class="td-nowrap td-fun">
        <a class="action disable" href="javascript:;" role="history-detail">详情</a>
    </div>
</script>
<script type="text/template" id="history-detail-tpl">

<div class="detail-dialog">
    <ul>
        <li>
            <span class="l">监控点名称：</span>
            <span class="r">{mitName}</span>
        </li>
        <li>
            <span class="l">监控类型：</span>
            <span class="r">{mitType}</span>
        </li>
        <li>
            <span class="l">更新时间：</span>
            <span class="r">{updateTime}</span>
        </li>
        <li>
            <span class="l">告警省份：</span>
            <span class="r">{province}</span>
        </li>
        <li>
            <span class="l">告警等级：</span>
            <span class="r">{alarmLevel}</span>
        </li>
        <li>
            <span class="l">处理状态：</span>
            <span class="r">{dealStatus}</span>
        </li>
        <li>
            <span class="l">告警方式：</span>
            <span class="r">{alarmWay}</span>
        </li>
        <li>
            <span class="l">处理方式：</span>
            <span class="r">{dealWay}</span>
        </li>
        <li>
            <span class="l">维护人员：</span>
            <span class="r">{admin}</span>
        </li>
        <li>
            <span class="l">告警原因：</span>
            <span class="r">{reason}</span>
        </li>
    </ul>
</div>
    
</script>