<div class="bread-nav mb-20">
    <h2>告警历史</h2><span class="tit">可按时间、级别、状态等维度查询历史告警</span>
    <a href="javascript:;" class="btn-search-hide">查询<i class="i-down"></i></a>
</div>
<div class="retrieval-con layout-time clearfix mb-20" style="display: none;">
    <ul class="clearfix">
        <li>
            <label>监控方式： </label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="role">
                    <option value="0">全部</option>
                    <option value="1">日志</option>
                    <option value="2">拨测</option>
                </select>
            </div>
        </li>
        <li>
            <label>监控类型：</label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="role">
                    <option value="0">全部</option>
                </select>
            </div>
        </li>
        <li>
            <label>监控点名称：</label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="role">
                    <option value="0">全部</option>
                </select>
            </div>
        </li>
        <li>
            <label>告警省份：</label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="role">
                    <option value="0">全部</option>
                </select>
            </div>
        </li>
    </ul>
    <ul class="clearfix">
        <li>
            <label>处理状态：</label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="role">
                    <option value="0">全部</option>
                    <option value="1">已恢复</option>
                    <option value="2">忽略</option>
                </select>
            </div>
        </li>
        <li>
            <label>告警等级：</label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="role">
                    <option value="0">全部</option>
                    <option value="1">严重</option>
                    <option value="2">一般</option>
                </select>
            </div>
        </li>
        
    </ul>
    <ul class="clearfix">
        <li>
            <label>起始时间：</label>
            <div class="module-time">
                <input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" type="text" class="module-input" name="startTime"/>
                <span>到</span>
                <input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" type="text" class="module-input" name="endTime"/>
            </div>
            <a href="javascript:;" class="btn btn-orange ml-10">查询</a>
        </li>
    </ul>
</div>

<div class="mod-btn">
    
</div>

<div class="content_main"></div>
<script type="text/template" id="list-modify">
    <div class="td-nowrap td-fun">
        <a class="action disable" href="javascript:;">详情</a>
        <a class="action disable" href="javascript:;">忽略</a>
        <a class="action disable" href="javascript:;">备注</a>
    </div>
</script>