<div class="bread-nav mb-20">
    <h2>用户</h2><span class="tit">分配用户账号及角色，对用户进行管理</span>
    <a href="javascript:;" class="btn-search-hide">查询<i class="i-down"></i></a>
</div>

<div class="retrieval-con layout-time clearfix mb-20" style="display: none;">
    <ul class="clearfix">
        <li>
            <label>账号：</label>
            <div class="module-fill w150">
                <input type="text" class="module-input" name="userName"/>
            </div>
        </li>
        <li>
            <label>姓名： </label>
            <div class="module-fill w150">
                <input type="text" class="module-input" name="realName"/>
            </div>
        </li>
    </ul>
    <ul class="clearfix">
        <li>
            <label>角色：</label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="role">
                    <option value="0">全部</option>
                    <option value="1">运维管理员</option>
                    <option value="2">配置管理员</option>
                    <option value="3">监控员</option>
                    <option value="4">运维工程师</option>
                </select>
                <!--<input type="text" class="module-input"/>-->
            </div>
        </li>
        <li>
            <label>创建时间：</label>
            <div class="module-time">
                <input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" type="text" class="module-input" name="startTime"/>
                <span>到</span>
                <input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" type="text" class="module-input" name="endTime"/>
            </div>
        </li>
        <li>
            <a href="javascript:;" class="btn btn-orange" role="query">查询</a>
        </li>
    </ul>
</div>

<div class="mod-btn">
    <a href="javascript:;" class="btn btn-blue" role="add">创建用户</a>
</div>

<div class="content_main">
    <table class="table-con mb-20" cellspacing="0" cellpadding="0">
    <tr>
        <th width="20%">账号</th>
        <th width="20%">姓名</th>
        <th width="15%">IP地址</th>
        <th width="20%">创建时间</th>
        <th width="25%">操作</th>
    </tr>
    <tr>
        <td>shania2</td>
        <td>shania2</td>
        <td>监控员</td>
        <td>2016-06-03 09:24</td>
        <td><div class="td-nowrap td-fun"><a href="">修改</a><a href="">禁用</a></div></td>
    </tr>
</table>

    <div class="tr">
        <div class="module-select page">
            <span>20</span><a href="javascript:;" class="btn-select"><i class="i-select"></i></a>
            <ul class="hide">
                <li class="active"><a href="">20</a></li>
                <li><a href="">40</a></li>
                <li><a href="">100</a></li>
            </ul>
        </div>
        <a href="" class="btn-page">1</a>
    </div>
</div>

