<div class="bread-nav mb-20">
    <h2>ENSVR服务</h2><span class="tit">ENSVR服务，事件消息的存储与通知，用于向外围业务系统主动通知订阅的事件消息。</span>
    <a href="javascript:;" class="btn-search-hide">查询<i class="i-down"></i></a>
</div>

<div class="clearfix mt-20 mb-20 toolbar">
    <div class="fl">
        <ul class="mod-tab clearfix">
            <li class="current"><a href="javascript:;" role="chart">图表</a></li>
            <li><a href="javascript:;" role="grid">列表</a></li>
        </ul>
        <a href="javascript:;" role="expert" class="btn btn-blue ml-10">导出</a>
    </div>
    <div class="fr">
    </div>
</div>


<div class="retrieval-con clearfix">
    <ul class="radio-list clearfix chart-chb">
    </ul>
    <ul class="radio-list clearfix grid-chb hide">
    </ul>
    <div class="tr">
        <a href="javascript:;" role="query" class="btn btn-orange">查询</a>
    </div>
</div>


<div class="graph mt-20">
    <div class="graph-tab clearfix">
        <ul>
            <li class="current"><a href="javascript:;" tabType="1">连接数<i></i></a></li>
            <li><a href="javascript:;" tabType="1">请求数<i></i></a></li>
            <li><a href="javascript:;" tabType="1">交易时间<i></i></a></li>
            <li><a href="javascript:;" tabType="1">交易成功率<i></i></a></li>
            <li><a href="javascript:;" tabType="1">超时比例<i></i></a></li>
        </ul>
    </div>
    <div class="graph-con" style="height: 400px;">

    </div>
</div>

<div class="content-grid mt-20 hide">

</div>