<div class="left-sides">
    <div class="head">
        <p><span>视图：</span><input type="radio" name="viewType" value="1"/><label for="">用户体验概览</label><input type="radio" name="viewType" value="2"/><label for="">分布式拨测</label></p>
        <p id="serverDate">--</p>
    </div>
    <div class="con">
        <ul class="online-num clearfix">
            <li>Web在线 <span name="webNo">--</span> 人/VIP在线 <span name="vipNo">--</span> 人</li>
            <li>SMTP在线 <span name="smtpNo">--</span> 人</li>
            <li>POP3在线 <span name="pop3No">--</span> 人</li>
            <li>IMAP在线 <span name="imapNo">--</span> 人</li>
        </ul>
        <p class="online-time">近5分钟发信 <span name="sendNo">--</span> 次/收信 <span name="receiveNo">--</span> 次</p>
        <div class="map-chart" style="width: 100%;height: 100%;"></div>
        <!--style="width: 1000px;height: 600px;"-->
    </div>
</div>
<div class="right-sides">
    <div class="head">
        <p class="tit">全国</p>
        <ul class="rightGridUl">
        </ul>
    </div>
    <div class="right-grid right-sides-con"></div>
</div>