<div class="bread-nav mb-20">
    <h2>恶意登录分析</h2><span class="tit">对恶意登录用户情况进行分析。</span>
    <a href="javascript:;" class="btn-search-hide">查询<i class="i-down"></i></a>
</div>

<div class="retrieval-con clearfix" style="display: none;">
    <ul>
        <li>
            <label>登录IP：	</label>
            <div class="module-fill w150">
                <input type="text" class="module-input" name="loginIP">
            </div>
        </li>
        <li>
            <a href="javascript:;" role="query" class="btn btn-orange">查询</a>
        </li>
    </ul>
</div>

<div class="clearfix mt-20 mb-20 toolbar">
    <div class="fl">
        <ul class="mod-tab clearfix">
            <li class="current"><a href="javascript:;">IP&账号</a></li>
            <li><a href="javascript:;">IP</a></li>
        </ul>
    </div>
    <div class="fr">
    </div>
</div>

<div class="graph">
    <div class="graph-tab clearfix">
        <ul>
            <li class="current"><a href="javascript:;">登录次数<i></i></a></li>
            <li><a href="javascript:;">登录账号个数<i></i></a></li>
        </ul>
    </div>
    <div class="graph-con" style="height: 400px;">
        图表
    </div>
</div>
<div class="grid-title quality-tit">IP&账号登录详情</div>
<div class="grid-content"></div>