<div class="bread-nav mb-20">
    <h2>垃圾邮件收发分析</h2><span class="tit">对垃圾邮件收发情况进行分析。</span>
    <a href="javascript:;" class="btn-search-hide hide">查询<i class="i-down"></i></a>
</div>

<div class="clearfix mt-20 mb-20 toolbar">
    <div class="fl">
    </div>
    <div class="fr">
    </div>
</div>

<div class="graph">
    <div class="quality-tit">垃圾邮件接收分析</div>
    <div class="graph-con" style="height: 400px;">
        图表
    </div>
    <div class="quality-tit">垃圾邮件发送分析</div>
    <div class="graph-con" style="height: 400px;">
        图表
    </div>
</div>