<div class="bread-nav mb-20">
    <h2>网络质量监控</h2><span class="tit">监测网络数据包的发送接收情况。</span>
    <a href="javascript:;" class="btn-search-hide">查询<i class="i-down"></i></a>
</div>

<div class="retrieval-con clearfix" style="display: none;">
    <ul>
        <li>
            <label>省份：	</label>
            <div class="module-fill w150">
                <select style="display:none" widthNo="150" name="corpId">
                    <option value="0">全国</option>
                    <option value="1">湖北</option>
                    <option value="2">湖南</option>
                    <option value="3">江西</option>
                </select>
            </div>
        </li>
        <li>
            <a href="javascript:;" role="query" class="btn btn-orange">查询</a>
        </li>
    </ul>
</div>

<div class="clearfix mt-20 mb-20 toolbar">
    <div class="fl">
    </div>
    <div class="fr">
    </div>
</div>

<div class="graph">
    <div class="graph-tab clearfix">
        <ul>
            <li class="current"><a href="javascript:;">网络丢包率<i></i></a></li>
            <li><a href="javascript:;">网络延时<i></i></a></li>
        </ul>
    </div>
    <div class="graph-con" style="height: 400px;">
        图表
    </div>
</div>
<div class="grid-title quality-tit">网络丢包率详情</div>
<div class="grid-content"></div>