<div class="bread-nav mb-20">
    <h2>外域入信分析</h2><span class="tit">对统一邮箱外域入信整体情况进行分析。</span>
    <a href="javascript:;" class="btn-search-hide hide">查询<i class="i-down"></i></a>
</div>

<div class="clearfix mt-20 mb-20 toolbar">
    <div class="fl">
    </div>
    <div class="fr">
    </div>
</div>

<div class="graph">
    <div class="quality-tit">外域入信邮件统计</div>
    <div class="graph-con" style="height: 400px;">
        图表
    </div>
</div>
<div class="grid-title quality-tit">各域邮件入信分析
    <div class="fr">
        <label>排序：</label>
        <div class="module-fill w150">
            <select style="display:none" widthNo="150" name="orderType">
                <option value="1">入信次数Top10</option>
                <option value="2">邮件拦截数Top10</option>
            </select>
        </div>
    </div>
</div>
<div class="grid-content"></div>