<div class="bread-nav mb-20">
    <h2>VIP保障->VIP用户体验跟踪</h2><span class="tit">对VIP用户使用邮箱的行为进行跟踪，方便查找和定位问题，保障VIP用户的畅通使用。</span>
</div>
<div class="retrieval-con layout-time clearfix mb-20" style="display: block;">
    <ul class="clearfix long-label">
        <li>
            <label>VIP用户账号： </label>
            <div class="module-fill">
                 <input type="text" name="srv_ip" class="module-input w150"/>
                 <select style="display:none;" widthNo="150" name="role">
                    <option value="0">全部</option>
                    <option value="1">运维管理员</option>
                    <option value="2">配置管理员</option>
                    <option value="3">监控员</option>
                    <option value="4">运维工程师</option>
                </select>
            </div>
        </li>
        <li>
            <label style="width: 135px;">VIP用户姓名：</label>
            <div class="module-fill w150">
                 <select style="display:none" widthNo="150" name="role">
                    <option value="0">全部</option>
                    <option value="1">运维管理员</option>
                    <option value="2">配置管理员</option>
                    <option value="3">监控员</option>
                    <option value="4">运维工程师</option>
                </select>
            </div>
        </li>
    </ul>
    <ul class="clearfix long-label">
        <li>
            <label>操作时间：</label>
            <div class="module-time">
                <input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" type="text" class="module-input" name="startTime"/>
                <span>到</span>
                <input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" type="text" class="module-input" name="endTime"/>
            </div>
        </li>
        <li>
            <label>状态：</label>
            <div class="module-fill">
                <input type="text" name="srv_ip" class="module-input"/>
            </div>
            <a href="javascript:;" class="btn btn-orange ml-10">查询</a>
        </li>
    </ul>
</div>
<div class="mod-btn">
  
</div>

<div class="content_main">
  
</div>