<div class="bread-nav mb-20">
    <h2>VIP保障->VIP用户体验跟踪</h2><span class="tit">对VIP用户使用邮箱的行为进行跟踪，方便查找和定位问题，保障VIP用户的畅通使用。</span>
</div>
<div class="retrieval-con layout-time clearfix mb-20" style="display: block;">
    <ul class="clearfix long-label">
        <li>
            <label>VIP用户账号： </label>
            <div class="module-fill">
                 <input type="text" name="account" class="module-input w150"/>
                 <select style="display:none;" widthNo="150" name="domain">
                    <option value="0">全部</option>
                </select>
            </div>
        </li>
        <li>
            <label style="width: 135px;">VIP用户姓名：</label>
            <div class="module-fill w150">
                 <input type="text" name="userName" class="module-input w150"/>
            </div>
        </li>
    </ul>
    <ul class="clearfix long-label">
        <li>
            <label>操作时间：</label>
            <div class="module-time">
                <input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" type="text" class="module-input" name="startTime"/>
                <span>到</span>
                <input onclick="laydate({istime: true, format: 'YYYY-MM-DD hh:mm'})" type="text" class="module-input" name="endTime"/>
            </div>
        </li>
        <li>
            <label style="width: 114px">状态：</label>
            <div class="module-fill">
                <select style="display:none;" widthNo="150" name="status">
                    <option value="">全部</option>
                    <option value="1">正常</option>
                    <option value="2">异常</option>
                </select>
            </div>
            <a href="javascript:;" class="btn btn-orange ml-10" role="query">查询</a>
        </li>
    </ul>
</div>
<div class="mod-btn">
  
</div>

<div class="content_main">
  
</div>
<script type="text/template" id="list-modify">
    <div class="td-nowrap td-fun">
        <a class="action" href="javascript:;" data-index="{index}" role="vipexp-detail">详情</a>
    </div>
</script>
<script type="text/template" id="vipexp-detail-tpl">

<div class="detail-dialog">
    <ul>
        <li>
            <span class="l">vip用户帐号：</span>
            <span class="r">{account}</span>
        </li>
        <li>
            <span class="l">姓名：</span>
            <span class="r">{userName}</span>
        </li>
        <li>
            <span class="l">所属省份：</span>
            <span class="r">{province}</span>
        </li>
        <li>
            <span class="l">操作时间：</span>
            <span class="r">{operTime}</span>
        </li>
        <li>
            <span class="l">监控点名称：</span>
            <span class="r">{mitName}</span>
        </li>
        <li>
            <span class="l">响应时间：</span>
            <span class="r">{respTime}</span>
        </li>
        <li>
            <span class="l">失败操作码：</span>
            <span class="r">{errorCode}</span>
        </li>
        <li>
            <span class="l">故障描述：</span>
            <span class="r">{errorDesc}</span>
        </li>
    </ul>
</div>
    
</script>