<div class="bread-nav mb-20">
    <h2>VIP服务质量报告</h2><span class="tit">对VIP用户使用情况进行分析，方便了解VIP用户整体服务质量</span>
    <a href="javascript:;" class="btn-search-hide">查询<i class="i-down"></i></a>
</div>
<div class="retrieval-con layout-time clearfix mb-20" style="display: block;">
    <ul class="clearfix auto-label">
        <li>
            <label>统计周期： </label>
            <div class="module-fill w150">
                 <select style="display:none;" widthNo="150" name="statisticsCycle">
                    <option value="0">日报</option>
                    <option value="1">周报</option>
                    <option value="2">月报</option>
                </select>
            </div>
        </li>
    </ul>
    <ul class="clearfix auto-label" id="vipqua-query">
        <li>
            <label>统计方式：</label>
            <div class="module-fill w150">
                <select style="display:none;" widthNo="150" name="statisticsWay">
                    <option value="">全部</option>
                    <option value="1">按省份</option>
                </select>
            </div>
        </li>
        <li>
            <label>省份：</label>
            <div class="module-fill w150" role="corpId">
                <select style="display:none;" widthNo="150" name="corpId">
                    <option value="0">全部</option>
                </select>
            </div>
        </li>
        <li role="vip-time-container"></li>
        <li>
            <label>监控点名称：</label>
            <div class="module-fill w150">
                <select style="display:none;" widthNo="150" name="mitName">
                    <option value="0">全部</option>
                </select>
            </div>
            <a href="javascript:;" class="btn btn-orange ml-10" role="query">查询</a>
        </li>
    </ul>
</div>
<div class="mod-btn clearfix">
  <div class="fl">
      <a href="javascript:void(-1);" class="btn btn-blue" role='vip-export'><i class="i-export"></i>导出</a>
  </div>
</div>

<div class="content_main">
  
</div>
<script type="text/template" id="vipqua-day-tpl">
    <label>统计日报：</label>
    <div class="module-time">
        <input onclick="laydate({istime: false, format: 'YYYY-MM-DD',max:laydate.now()})" type="text" class="module-input" name="startTime"/>
    </div>
</script>
<script type="text/template" id="vipqua-week-tpl">
    <label>统计周报：</label>
     <div class="module-time">
        <input onclick="laydate({istime: false, format: 'YYYY-MM-DD',max:laydate.now()})" type="text" class="module-input" name="startTime"/>
    </div>
</script>
<script type="text/template" id="vipqua-month-tpl">
    <label>统计月报：</label>
     <div class="module-time">
        <input type="text" id="monthTime" class="module-input" name="startTime"/>
    </div>
</script>